footer.text-muted
  .container
    p.float-right
      a(href="#") Back to top
    p “This web application was created to fulfill WebTechnology module’s requirements and does not represent an actual company or service”